<% @page_title = "About Us" %>
<% @page_description = "New Subject" %>
<!-- <div class="cst-header">
	<h1>About Noel B. Leonard</h1>
	<h4 class="open">Providing Excellent Legal Services in Southern Alabama</h4>
	<h4 class="open">Noel B. Leonard, Attorney LLC is a law firm based in Foley, Alabama.</h4>
	<h4 class="open"> We represent clients in Mobile, Baldwin, and Escambia counties for the following types of claims:</h5>
</div>

<div class="main-wrap">
	<div class="body-content">
		<div class="s1">
					<%=link_to "/auto_accidents_path", class: 'practice-boxes-op bike' do %>
						<h4>Motorcyle Accident <br>Injury Claims</h4>
					<% end %>

					<%=link_to "/trucker_accidents_path", class: 'practice-boxes-op auto' do %>
						<h4>Auto Accident <br>Injury Claims</h4>
					<% end %>

					<%=link_to "/motorcycle_accidents_path", class: 'practice-boxes-op trucker' do %>
						<h4>18-Wheeler <br>Accident Victims</h4>
					<% end %>

					<%=link_to "/root_path", class: 'practice-boxes-op personal' do %>
						<h4>Personal Injury<br> Claims</h4>
					<% end %>
		</div>

		<div class="s2">
			<div class="blue-sidebar">
				<h4 class="open">What We Can Do For You?</h4>
				<ul>
					<li>Provide free telephone and office consultation</li>
					<li>Accommodate evening and weekend appointments</li>
					<li>Provide superior representation for all your legal concerns</li>
					<li>Ensure first-class client service and personalized attention</li>
					<li>Defend you against claims brought against you</li>
					<li>Advance your expenses</li>
					<li>Maximize your recovery</li>
				</ul>
			</div>
		</div>

		<div class="s3">
			<div class="community">
				<h4 class="open">We are committed to giving back to our local community. We currently support the following charitable organizations.</h4>
				<%=image_tag('vfw-logo.jpg', class: 'img-responsive charity') %>
				<%=image_tag('mcdonald-house.jpg', class: 'img-responsive charity') %>
				<%=image_tag('st-judes.jpg', class: 'img-responsive charity') %>
				<%=image_tag('manna.jpg', class: 'img-responsive charity') %>
			</div>
		</div>
	</div>
</div>-->




<!--  # Create an empty array.
lines = []
    # Use foreach iterator to loop over lines in the file.
    # ... Add chomped lines.
    IO.foreach("list.txt") do |line|
      lines.push(line.chomp())
    end


    lines.each do |v|
end -->

<!--  # Create an empty array.
lines = []
	# Use foreach iterator to loop over lines in the file.
	# ... Add chomped lines.
	IO.foreach("list.txt") do |line|
	    lines.push(line.chomp())
	end
	lines.each do |v|
end -->

<div class="clearfix"></div><br><br>

<div class="container">
		<% @array.each do |n| %>
		  <%= n %><br />
		<% end %>

		<br />

		<% @nested_students.each do |student_array| %>
			<%= puts @student_detail %>
		<% end %>

			<!-- #  -->

</div>

<!--
  def hello
    @array = [1,2,3,4,5]
    @id = params['id']
    @page = params[:page]
    @image = params[:image]

    render('hello')
end

# gallery = IO.readlines("list.txt")
# puts gallery[0]
# puts gallery[1]

#  def initialize(w,h)
#     @width, @height = w, h
#  end

#  def to_s
#     "(w:#@width,h:#@height)"
#  end

# @box = Box.new(10, 20)
# puts "String representation of box is : #{box}"
 -->
