<% @page_title = "Contact Us" %>
<% @page_description = "New Subject" %>

<div class="contactpage">
  <div class="pa-header">
      <div class="overlay">
          <div class="title-box">
              <h1>Contact Us</h1>
          </div>
      </div>
  </div>

  <div class="main-wrap">
    <div class="body-content">
      <div class="s1">
        <div class="col-md-4">
          <p>Contact Noel B. Leonard today to discuss your personal injury, auto accident, or 18 wheeler accident injury claim for Baldwin, Mobile, or Escambia Counties Alabama.</p>
        </div>

        <div class="col-md-6 col-xs-12 formsec">
            <div class="siteorigin-widget-tinymce textwidget">
              <div id="wufoo-zj0erzt178k0t4"><iframe id="wufooFormzj0erzt178k0t4" class="wufoo-form-container" height="821" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://vincidesigns.wufoo.com/embed/zj0erzt178k0t4/def/embedKey=zj0erzt178k0t4277622&amp;entsource=wordpress&amp;referrer=http%3Awuslashwuslashwww.attorney-leonard.comwuslashabout-uswuslash&amp;header=hide"><a href="https://vincidesigns.wufoo.com/forms/zj0erzt178k0t4/" title="html form">Fill out my Wufoo form!</a></iframe></div></div>

          <!--
            <%= form_for @client, url: client_path do |client| %>
                <fieldset>
                    <% if flash[:notice] %>
                        <div class="notice"><%= flash[:notice] %></div>
                    <% end %>

                    <% if flash[:alert] %>
                        <div class="notice"><%= flash[:alert] %></div>
                    <% end %>

                    <div class="form-group name">
                        <span class="required">*</span> First Name: <br>
                        <%= client.text_field :first_name %>
                    </div>

                    <div class="form-group name">
                        <span class="required">*</span> Last Name: <br>
                        <%= client.text_field :last_name %>
                    </div>

                    <div class="form-group phone">
                        <span class="required">*</span> Phone Number: <br>
                        <%= client.text_field :phone %>
                    </div>

                    <div class="form-group email">
                        <span class="required">*</span> Email address: <br>
                        <%= client.email_field :email %>
                    </div>

                    <div class="form-group">
                        How did you find us?: <br>

                    </div>

                    <div class="form-group message">
                        <span class="required">*</span>Additional Details About Your Case or Services Needed: <br>
                        <%= client.text_area :content %>
                    </div>












                    <div class="form-group honey">
                        <%= label_tag :honey %>
                        <%= client.text_field :honey %>
                        <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
                    </div>

                    <div class="form-group submit">
                        <%= client.submit "Submit", :class=> "send-message" %>
                    </div>
                </fieldset>
            <% end %> -->
        </div>
      </div>
    </div>
  </div>
</div>


<!--
I need help with: (checkbox)
    1. Injury from an Auto Accident
    2. Injury from an 18-Wheeler Accident
    3. Personal Injury
    4. Criminal Defense
    5. DUI Arrests &amp; Traffic Offenses
    6. Estate Planning
    7. Business Law
    8. Collections

How did you find us? (dropdown)
    Google Search
    Referral
    Social Media
    Online Directory
    Other

    Additional Details About Your Case or Services Needed

===============
1. Date of incident, location (full address)
2. Date of incident, location (full address)
3. Date of incident, type of injury (checkbox)
        Spinal Cord Injury
        Wrongful Death
        Slip and Fall
        Medical Malpractice
        Dog Bite
        Assault and/or Battery

5. Date of incident, location (full address)
 -->
