<% @page_title = "Contact Us" %>
<% @page_description = "If you suffer from a serious injury resulting from a motorcycle, automobile, or 18-wheeler accident inMobile, Baldwin, or Escambia county, contact Noel B. Leonard today to discuss your options." %>

<div class="contact">
        <div class="header-wrap">
          <div class="cst-header">
            <div class="title">
              <h1>Contact Noel B. Leonard</h1>
              <div class="title-line"></div>
              <div class="clearfix"></div>
              <h3>Attorney, LLC</h3>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="ms1">
          <div class="container">
            <div class="sidebar">
                <div class="contact-info">
                  <h4 class="call"><%= number_to_phone(2519438638, delimiter: '-') %></h4>
                  <hr class="fancy">

                  <h4 class="address">218 N. Alston Street<br> Foley, AL 36535</h4>
                  <hr class="fancy">

                  <h4 class="email">noel<span>@</span>attorney-leonard.com</h4>
                  <hr class="fancy">

                    <ul class="social-links">
                      <li>
                        <%= link_to '/fb', target: '_blank' do %>
                          <i class="fa fa-facebook"></i>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to '/twitter', target: '_blank' do %>
                          <i class="fa fa-twitter"></i>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to '/linkedin', target: '_blank' do %>
                          <i class="fa fa-linkedin"></i>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to '/twitter', target: '_blank' do %>
                          <i class="fa fa-twitter"></i>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to '/youtube', target: '_blank' do %>
                          <i class="fa fa-youtube"></i>
                        <% end %>
                      </li>
                    </ul>
                </div>
            </div>

            <div class="left">
               <p>If you suffer from a serious injury resulting from a motorcycle, automobile, or 18-wheeler accident in <span>Mobile</span>, <span>Baldwin</span>, or <span>Escambia</span> county, contact Noel B. Leonard today to discuss your options.</p>

              <p> Fill out our Case Evaluation Form below, or call us now, to schedule a consultation.</p>
            </div>
          </div>
        </div>

        <div id="case_form" class="sec-form">
          <div class="container">
            <div class="form jform">
                <script type="text/javascript" src="https://form.jotform.com/jsform/221674078809061"></script>
            </div>
          </div>
        </div>

        <div class="ms2">
          <div class="overlay">
            <div class="container">
              <h2>Let Noel B. Leonard <span>fight for you.</span></h2>
              <p>If you live in Baldwin, Mobile, or Escambia County, and you or a loved one has been injured in a motorcycle accident in Alabama, contact accident attorney, Noel B. Leonard today.</p>
              <hr class="fancy">
              <p>Learn more about your rights, and start moving forward.<br> Fill out our <%=link_to "case evaluation form", contact_path %>, or call now to schedule a consultation.<br>
              <%= number_to_phone(2519438638, delimiter: '-', class: 'call-link') %></p>
            </div>
          </div>
        </div>
</div>
