<% @page_title = "Wills, Trusts, & Estates" %>
<% @page_description = "New Subject" %>

<div class="wte">
	<div class="wte-h1">
		<h1 class="text-center">Estate Planning, Estate Litigation, Wills &amp; Trusts</h1>
		<hr>
		<div class="container">
			<div class="content">
				<p>For years, Alabama Attorney, Noel B. Leonard has been assisting clients throughout Mobile, Baldwin, and Escambia counties with estate planning cases. Estate planning in Alabama is extremely complex, but Attorney Leonard has a comprehensive understanding of the process, and significant experience with estate litigation.
				He has the valuable knowledge it takes to make even the most complex and emotional cases concerning wills, trusts, and estate planning go smoothly.</p>
			</div>
		</div>
	</div>

	<div class="offer">
		<div class="inner">
			<h4>If you would like more about Attorney Leonard's services regarding Estate Planning, Wills, or Trusts<br>
			<span> Give him a call to set up a free consultation, or fill out our case evaluation form.</span></h4>
	    <h3 class="phone"><%= number_to_phone(2519438638, delimiter: '-') %></h3>
	  </div>
  </div>

	<div class="wte-s1">
		<div class="container-fluid">
      <div class="right">
        <div class="form">
          <%= form_for @estate, url: wills_trusts_estate_path do |estate| %>
            <h4>Free Case Evaluation</h4>
            <fieldset>
              <% if flash[:notice] %>
                <div class="notice"><%= flash[:notice] %></div>
              <% end %>

              <% if flash[:alert] %>
                <div class="notice"><%= flash[:alert] %></div>
              <% end %>

              <div class="form-group name">
                <p>*First Name:</p>
                <%= estate.text_field :first_name %>
              </div>

              <div class="form-group last-name">
                <p>*Last Name: </p>
                <%= estate.text_field :last_name %>
              </div>

              <div class="form-group phone">
                <p>*Phone Number: </p>
                <%= estate.text_field :phone %>
              </div>

              <div class="form-group email">
                <p>*Email address: </p>
                <%= estate.email_field :email %>
              </div>

              <div class="form-group address">
                <p>*Address: </p>
                <%= estate.text_field :address %>
              </div>

              <div class="form-group message">
                <p>*Tell us about your case: </p>
                <%= estate.text_area :content %>
              </div>

              <div class="form-group honey">
                <%= label_tag :honey %>
                <%= estate.text_field :honey %>
                <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
              </div>

              <div class="form-group submit">
                <%= estate.submit "Submit", :class=> "send-message" %>
              </div>
            </fieldset>
          <% end %>
          <p><span>*All fields are required.</span></p>
        </div>
      </div>

			<div class="left">
				<p class="top">When a person in the state of Alabama passes away without a will or an estate plan, the state executes its own process for dividing that person's assets among their successors -- with no say from relatives, loved ones, or even the personal feelings of the deceased. Preparing either a will or an estate plan, however, allows you to give clear, detailed instructions on how/to whom your assets will be distributed.</p>

				<p class="bold">Alabama attorney, Noel B. Leonard is a leader in the area of estate litigation. He is dedicated to providing his clients with reliable information on the different estate planning services he offers, such as drafting wills and trusts, and the legal requirements of each. He organizes strategies that help to avoid or settle any conflicts over the distribution of assets.</p>
			</div>
		</div>
	</div>

  <div class="wte-s2">
		<div class="image">
      <%= image_tag('grand-walk.jpg', class: 'img-responsive', alt: 'Noel B. Leonard, Alabama estate planning attorney') %>
    </div>

    <div id="accordeon" class="inline-left">
      <div class="cbp-item">
        <div class="cbp-caption zero">
      		<div class="cbp-caption-defaultWrap">
            <h3>Estate Planning</h3>
          </div>

          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-body">
            	<p>
						    "Estate" is just a fancy word that means "everything you own" -- home, property, cars, bank accounts, personal possessions, etc... <br>Estate planning essentially means to prepare specific instructions for what will happen to all of your assets in the event of your death or incapacitation.
            	</p>

            	<p>
            		People often think that an estate plan is only necessary later in life, but that is not the case. A properly planned estate is useful at any time, for anyone who wants to control the way their assets are distributed in the event of their death. Developing such a plan is especially important if you have a family, as it is the best way to be sure that everyone will be taken care of.
            	</p>

            	<p class="cta">If you live in Baldwin, Escambia, or Mobile County, and are considering estate planning, contact Attorney Noel B. Leonard today, or fill out our case evaluation form for a free consultation.</p>
            </div>
         	</div>
        </div>

        <div class="cbp-caption first">
          <div class="cbp-caption-defaultWrap">
            <h3>Wills</h3>
          </div>

          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-body">
							<p>A well drafted will is one of the most important pieces of estate planning. Your will goes into effect at the time of your death, giving specific directions for your property, and appointing a legal executor who will carry out those directions during the <b>probate process</b> (the court-supervised process of administering a person's will).</p>

							<p>Drafting a will can save your family time, money, and potential controversy over the legal division of your assets. In the state of Alabama, any person who is 18 years or older, and considered "sound of mind" can draft a will. It must be signed by the testator (the person for whom the will is drafted) -- or a person instructed by the testator if they are too ill to sign for themselves -- and there must be two competent witnesses present.</p>

							<p> The attorney you choose to assist you with your will is not a small decision. Hiring an attorney who has little to no experience drafting wills is a big risk with a higher chance of a final product that seems unclear, and open to interpretation. This can result in disputes between the beneficiaries, and often leads to the decision to contest the will. Throughout his entire career, Attorney Leonard has been drafting carefully considered wills that thoroughly explain each detail.</p>

							<p class="cta">If you live in Baldwin, Escambia, or Mobile County, and are thinking about creating a will, contact Attorney Noel B. Leonard today, or fill out our case evaluation form for a free consultation.</p>
						</div>
					</div>
			  </div>

			  <div class="cbp-caption second">
          <div class="cbp-caption-defaultWrap">
            <h3>Will Contests</h3>
          </div>

          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-body">
							<p>In the state of Alabama, a will can be contested by a person who is a listed beneficiary, or a person who would stand to receive a piece of an estate if the will was found to be invalid.</p>
							<p> If a person files a petition to contest a will in Alabama, and can prove that the will was not properly executed, the will can be challenged.</p>

							<p>Attorney Leonard's experience falls on both sides of these cases. He has represented clients who wished to defend the validity of a will, and fought for clients who chose to challenge a will's validity. </p>
							<p class="cta">	If you are interested in contesting a will, or defending a will that has been challenged, contact Alabama Attorney Noel B. Leonard today, or fill out our case evaluation form for a free consultation.</p>
						</div>
					</div>
			  </div>
			</div>
		</div>

    <div id="solo" class="inline-right">
      <div class="cbp-item">
			  <div class="cbp-caption third">
          <div class="cbp-caption-defaultWrap">
            <h3>Living Wills</h3>
          </div>

          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-body">
            	<p>If you became seriously ill, or lost the ability to speak for yourself, what sort of healthcare and medical treatments would you want? And if your family disagreed, would they be legally obligated to carry out your wishes?</p>

            	<p>In the state of Alabama, a person (referred to as "principal") may designate another person to be their "health care proxy" through a durable power of attorney. The health care proxy will ensure that the principal's medical wishes are carried out, even after the principal is no longer able to communicate their decisions. This is considered a living will, or advanced directive, and is a valuable piece of estate planning that gives direction to medical professionals and family members for end-of-life care.  </p>

            	<p class="cta">If you are a resident of Baldwin, Escambia, or Mobile County, and you are interested in learning more about preparing a living will, contact Noel B. Leonard today, for a free consultation.</p>

						</div>
					</div>
			  </div>

			  <div class="cbp-caption fourth">
          <div class="cbp-caption-defaultWrap">
            <h3>Living Trusts</h3>
          </div>

          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-body">
            	<p>A trust is a legal document, similar to a will in that it outlines exactly what is to happen to your assets in the event of your death or incapacitation, but different in that it does not get put through the probate process. The two types of living trusts are revocable and irrevocable.</p>

            	<p>A <b>revocable living trust</b> is a trust agreement wherein you transfer your assets into ownership of the trust, and remain in control of them as a "trustee." This agreement allows you to continue receiving any interest, make changes to, or revoke the trust at any point. Upon your death, the successor trustee will transfer ownership of the trust to the named beneficiaries, and the assets will go directly to them.</p>

            	<p>An <b>irrevocable living trust</b> means that you permanently give your assets away during your lifetime. You relinquish control and interest, and they are no longer part of your estate.</p>

            	<p class="cta">If you would like more information on preparing a living trust in Alabama, contact Attorney Noel B. Leonard, and set up a free consultation, or fill out our case evaluation form.</p>

						</div>
					</div>
			  </div>

			  <div class="cbp-caption fifth">
			    <div class="cbp-caption-defaultWrap">
			      <h3>Probate</h3>
			    </div>

			    <div class="cbp-caption-activeWrap">
			      <div class="cbp-l-caption-body">
			      	<p>Probate is the court-supervised process of settling a person's estate after their death. The property of the deceased is collected, any owed debts and taxes are paid, and the remaining assets are distributed to the heirs. If there is a will, once it is ruled valid, the assets will be distributed as intended. If there is not a will, the state will follow its own process for distributing the assets.</p>

							<p>Probate cases in the state of Alabama have the potential to get very complicated, and it is incredibly beneficial to have the help of an experienced Alabama attorney.</p>
							<p class="cta">	If you live in Baldwin, Mobile, or Escambia County, and need help with a probate case, contact Attorney Noel B. Leonard's office today, or fill out our case evaluation form, for a free consultation.</p>
			      </div>
			    </div>
			  </div>

			</div>
		</div>
	</div>




</div>
