<% @page_title = "Orange Beach Injury Lawyer" %>
<% @page_description = "" %>

<div class="pa-body">
	<div class="sec1">
		<h1>Attorney Noel Leonard is an <br><span>Orange Beach Personal Injury Attorney</span></h1>
		<div class="title-line"></div><div class="clearfix"></div>

		<div class="inside mid2">
			<div class="left">
				<!-- <h2>DON’T TAKE A CHANCE ON BEHALF OF YOUR FAMILY WHEN YOUR HEALTH, JOB, MEDICAL BILLS, AND FUTURE COULD BE AT STAKE.</h2> -->
				<h2>Don't take a chance on behalf of your family when your health, job, medical bills, and future could be at stake.</h2>
			</div>

			<div class="right">
				<p>Get a Personal Injury Attorney local to Orange Beach, not just another lawyer’s satellite office. Attorney Noel Leonard will answer your call, and give your family an opportunity to be compensated for the unfortunate tragedy and injury that has derailed your everyday lifestyle. <span>If you are unable to meet at our office, we are eager to accommodate you to discuss your legal needs.</span></p>
			</div>
		</div>
	</div>

	<div class="sec-bg">
		<div class="inside mid">
			<p>Attorney Noel Leonard is an Orange Beach personal injury attorney that provides free consultations to serious accident victims and their family members. We review our clients' cases, and carefully explain the process for personal injury claims. Noel is an Orange Beach Injury Attorney less than 20-minutes from Canal Road.</p>
			<p class="cta">Contact us any time: 24 hours a day, 7 days a week.<br>
				Call <a href="tel:2519438638">251-943-8638</a>, or <%= link_to "contact us online", contact_path, class: 'text-link' %>.
			</p>
		</div>
	</div>

	<div class="sec3">
		<div class="inside mid">
			<div class="left">
				<p>Attorney Noel Leonard handles personal injury related matters including <%= link_to "car accidents", auto_accidents_path, class: 'text-link' %>, <%= link_to "truck accidents", trucker_accidents_path, class: 'text-link' %>, <%= link_to "motorcycle accidents", motorcycle_accidents_path, class: 'text-link' %>, and more.
					If you are in Orange Beach, contact Injury Attorney Noel Leonard today for a <span>completely free consultation:</span></p>
				<p class="cta">Call <a href="tel:2519438638">251-943-8638</a>, or <%= link_to "click here", contact_path, class: 'text-link' %> to contact us online.</p> 
			</div>

			<div class="right">
				<p>If you or a loved one has been injured in a serious accident around Orange Beach or Gulf Shores, hiring the right personal injury attorney in the Orange Beach area is important. Put Leonard Injury Law’s experience in your corner today, and let him fight to get you the compensation you deserve.</p>
			</div>
		</div>
	</div>
</div>
