<footer class="footer">
 <!--  <div class="top-foot">
    <h5>Serving Baldwin, Mobile, &amp; Escambia Counties in Alabama</h5>
  </div> -->

  <div class="full-foot">
    <div class="fs1">
      <h3>Noel B. Leonard <span><%=image_tag( 'scales2.png', alt: 'Noel Leonard Attorney - Logo', class: 'img-responsive icon')%></span> Attorney, LLC</h3>
      <ul class="social-links">
        <li>
          <%= link_to '/fb', target: '_blank' do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/twitter', target: '_blank' do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/linkedin', target: '_blank' do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/twitter', target: '_blank' do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/youtube', target: '_blank' do %>
            <i class="fa fa-youtube"></i>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="fs2">
      <div class="block one">
        <h5>Noel B. Leonard, Attorney LLC</h5>
        <p>We are a law firm based in Foley, Alabama, who represents clients from the Alabama counties of Mobile, Baldwin, and Escambia.</p>
      </div>

      <!-- <div class="block two">
        <h5>Contact Information</h5>
        <div class="ft-title"></div>
          <ul class="contact">
            <li><span>Phone:</span> <%= number_to_phone(2519438638, delimiter: '-') %></li>
            <li><span>Fax:</span> 866-648-8201</li>
            <li class="address">
            218 N. Alston Street, Foley, AL 36535</li>
          </ul>
      </div> -->

      <div class="block two">
        <h5>Practice Areas</h5>
        <div class="ft-title"></div>
        <ul class="foot-nav">
          <li><span>Motorcyle Accident Injury Claims</span></li>
          <li><span>Auto Accident Injury Claims</span></li>
          <li><span>18-Wheeler Accident Victims</span></li>
        </ul>
      </div>

      <div class="block three">
        <h5>Contact Information</h5>
        <div class="ft-title"></div>
          <ul class="contact">
            <li><span>Phone:</span> <%= number_to_phone(2519438638, delimiter: '-') %></li>
            <li><span>Fax:</span> 866-648-8201</li>
            <li class="address">
            218 N. Alston Street, Foley, AL 36535</li>
          </ul>
      </div>

      <div class="block four">
        <h5>Menu</h5>
        <div class="ft-title"></div>
        <ul class="foot-nav">
          <li class="menu-item"><%= link_to "Home", root_path %></li>
          <li class="menu-item"><%= link_to "About", about_path %></li>
          <li class="menu-item"><%= link_to "Contact Us", contact_path %></li>
          <li class="menu-item"><%= link_to "Resources", resources_path %></li>
        </ul>
      </div>
    </div>

      <!-- <p class="copy">Copyright <%= Time.now.year %></p> -->
      <span class="disclaimer">No representation is made that the quality of legal services to be performed is greater than the quality of legal services performed by other lawyers. </span>
  </div>
</footer>


<!-- Off Canvas Menu -->
<div class="offcanvas-menu">
    <a class="close-offcanvas" href="#"><i class="fa fa-close"></i></a>
    <div class="offcanvas-inner">
        <div class="module">
            <h3 class="module-title">Main Menu</h3>

            <div class="module-content">
              <ul class="nav menu">
                <li><%= link_to "Home", root_path %></li>
                <li class="deeper parent"><a href="#">Example <span class="toggle-icon fa fa-angle-down"></span></a>
                  <ul style="display: none;" class="nav-child unstyled small">
                    <li><%= link_to "Example", root_path %></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>

