<footer class="footer">
 <!--  <div class="top-foot">
    <h5>Serving Baldwin, Mobile, &amp; Escambia Counties in Alabama</h5>
  </div> -->

  <div class="full-foot">
    <div class="fs1">
      <h3>Noel B. Leonard Attorney, LLC</h3>
      <!-- <span><%=image_tag( 'scales2.png', alt: 'Noel Leonard Attorney - Logo', class: 'img-responsive icon')%></span>  -->
      <ul class="social-links">
        <li>
          <%= link_to '/fb', target: '_blank' do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/twitter', target: '_blank' do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/linkedin', target: '_blank' do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/twitter', target: '_blank' do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '/youtube', target: '_blank' do %>
            <i class="fa fa-youtube"></i>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="fs2">
      <div class="block one">
        <h5>Noel B. Leonard, Attorney LLC</h5>
        <div class="ft-title"></div>
        <p>We are a law firm based in Foley, Alabama, who represents clients from the Alabama counties of Mobile, Baldwin, and Escambia.</p>
      </div>

      <div class="block two">
        <h5>Practice Areas</h5>
        <div class="ft-title"></div>
        <ul class="foot-nav">
          <li><span><%= link_to "Motorcycle Accidents Injury Claims", motorcycle_accidents_path %></span></li>
          <li><span><%= link_to "Auto Accidents Injury Claims", auto_accidents_path %></span></li>
          <li><span><%= link_to "18-Wheeler Accidents Victims", trucker_accidents_path %></span></li>
        </ul>
      </div>

      <div class="block three">
        <h5>Contact Information</h5>
        <div class="ft-title"></div>
          <ul class="contact">
            <li><span>Phone:</span> <%= number_to_phone(2519438638, delimiter: '-') %></li>
            <li><span>Fax:</span> 866-648-8201</li>
            <li><span>Email:</span> noel@attorney-leonard.com</li>
            <li class="address">
            218 N. Alston Street, Foley, AL 36535</li>
          </ul>
      </div>

      <div class="block four">
        <h5>Menu</h5>
        <div class="ft-title"></div>
        <ul class="foot-nav">
          <li class="menu-item"><%= link_to "Home", root_path %></li>
          <li class="menu-item"><%= link_to "About", about_path %></li>
          <li class="menu-item"><%= link_to "Contact Us", contact_path %></li>
          <li class="menu-item"><%= link_to "Resources", resources_path %></li>
        </ul>
      </div>
    </div>

    <div class="disclaimer">
        <p class="copy">Copyright <%= Time.now.year %>. All rights reserved. Design by <%= link_to "High Seas Design House.", hsdh_path, :target => "_blank" %> </p>
        <span>No representation is made that the quality of legal services to be performed is greater than the quality of legal services performed by other lawyers. </span>
    </div>
  </div>
  <a href="#" class="scroll-up">Scroll</a>
</footer>


<!-- Off Canvas Menu -->
<div class="offcanvas-menu">
  <a class="close-offcanvas" href="#"><i class="fa fa-close"></i></a>
  <div class="offcanvas-inner">
    <div class="module">
      <h3 class="module-title">Main Menu</h3>

      <div class="module-content">
        <ul class="nav menu">
          <%= render 'layouts/nav' %>
          <li><%= link_to('Habla Espanol? Haga Clic Aqui', espanol_path ) %></li>

          <li><%= link_to('Fill Out Our Contact Form', contact_path ) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

